/* General Styles */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    background-color: #fff;
    padding-top: 80px;
}

/* Logo and Headings */

#logo {
    color: rgb(214, 170, 255);
    font-family: "Pacifico", sans-serif;
    letter-spacing: 2px;
}

#logo:hover {
    color: #fff;
}

h2, h3, h4 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

/* Navigation */

.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(214, 170, 255);
}

#search-bar > .btn {
    color: #fff;
    border-color: rgb(214, 170, 255);
}

#search-bar > .btn:hover {
    color: black;
    background-color: rgb(214, 170, 255);
}

/* Parallax Image Section */

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Intro Section */

#logo-intro {
    color: rgb(214, 170, 255);
    font-family: "Pacifico", sans-serif;
    letter-spacing: 2px;
    text-transform: none;
}

/* Blog Posts Section */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: rgb(214, 170, 255);
}

.author {
    color: black;
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: black;
}

.post-link:hover {
    text-decoration: underline;
    color: black;
}

.page-link {
    color: #fff;
    background-color: #212529;
    border: solid 1px rgb(214, 170, 255);
}

.page-link:hover {
    color: rgb(214, 170, 255);
    background-color: #212529;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Post Detail Section */

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #212529;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #212529;
}

.link {
    color: rgb(214, 170, 255);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: rgb(214, 170, 255);
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
} 

.btn-comment {
    margin-top: 5px;
}

/* Footer Section */

#footer {
    width:100%;
    background-color: #212529;
}

/* Social Media Links */

.social-links > li {
    display: inline;
}

.social-links i {
    color: #fff;
    font-size: 150%;
    margin: 0 1%;
}

.social-links i:hover {
    color: rgb(214, 170, 255);
}

/* About Us, Login Page, Register Page, Sign Out Page */

#about-us {
    margin: 0 auto;
}

#about-us, #login-page, #register-page, #sign-out {
    background-color: #212529;
    color: #fff;
    border-radius: 25px;
    width: 800px;
    max-width: 80%;
    padding: 25px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.btn-signup {
    color: #fff;
    background-color: rgb(214, 170, 255);
}

.btn-signup:hover, .btn-signup:active {
    color: black;
}